!*.excalidraw.json
/.quarto/
_book/
_site/
*index.ipynb
*.csv
*.parquet
*.quarto_ipynb
*.ipynb
*.ipynb_checkpoints/
index-listing.json
index.html
site_libs/
.jupyter_cache/
_freeze/
content/manipulation/cog_2023.csv
*_black_formatted.py
toto.html
toto_files/
content/**/*_files/
content/modelisation/getdata.py

*.jpg
*.jpeg

!themes/github.com/

.idea/
content/**/*.html
content/**/*.json
content/**/data/*
doc.json

**/.ipynb_checkpoints/

temp/
data/velo/
.DS_Store
Thumbs.db
/public/
/resources/

.matplotlib/
__pycache__/


# Hugo
resources/
jsconfig.json



/.quarto/

/.luarc.json
