glob:/.quarto/
glob:_book/
glob:_site/
glob:*index.ipynb
glob:*.parquet
glob:*.ipynb
glob:*.ipynb_checkpoints/
glob:index-listing.json
glob:index.html
glob:site_libs/

glob:*.png
glob:*.jpg
glob:*.jpeg

glob:!themes/github.com/

glob:.idea/
glob:content/**/*.html
glob:content/**/*.json
glob:content/**/data/*
glob:doc.json

glob:**/.ipynb_checkpoints/

glob:temp/
glob:data/velo/
.DS_Store
Thumbs.db
glob:/public/
glob:/resources/

glob:.matplotlib/
glob:__pycache__/


# Hugo
glob:resources/
jsconfig.json



glob:/.quarto/
