image: jupyter/datascience-notebook

before_script:
  - python --version
  - conda env create -n test-environment python=$TRAVIS_PYTHON_VERSION -f environment.yml
  - source activate test-environment

testmd:
  script:
    -  cat ./test.sh | /bin/bash

