project:
  type: website

website:
  title: "Python pour la data science"
  page-footer:
    left: |
      Python pour la _data science_, Lino Galiana.<br>
      Licence {{< fa brands creative-commons >}}<br>
      Code source disponible sur [`Github`](https://github.com/linogaliana/python-datascientist)
    right: |
      Site construit avec {{< fa brands python >}} et [`Quarto`](https://quarto.org/)<br>
      [Code source disponible sur {{< fa brands github >}} `GitHub`](https://github.com/linogaliana/python-datascientist)
  sidebar: 
    - id: introduction
      title: "Introduction"
      #collapse-level: 2
      contents:
        - content/getting-started/index.qmd
        - content/getting-started/01_environment.qmd
        - content/getting-started/02_data_analysis.qmd
        - content/getting-started/03_revisions.qmd
    - id: manipulation 
      title: "Manipuler"
      #collapse-level: 2
      contents:
        - href: content/manipulation/index.qmd
          text: "Introduction"
        - content/manipulation/01_numpy.qmd
        - content/manipulation/02_pandas_intro.qmd
        - href: content/manipulation/02_pandas_suite.qmd
          text: "Manipuler des données avec Pandas"
        - content/manipulation/03_geopandas_intro.qmd
        - content/manipulation/04a_webscraping_TP.qmd
        - content/manipulation/04c_API_TP.qmd
        - content/manipulation/04b_regex_TP.qmd
        - content/manipulation/05_parquet_s3.qmd
    - id: communication
      title: "Communiquer"
      #collapse-level: 2
      contents:
        - href: content/visualisation/index.qmd
          text: "Introduction"
        - content/visualisation/matplotlib.qmd
        - content/visualisation/maps.qmd
    - id: modelisation
      title: "Modéliser"
      #collapse-level: 2
      contents:
        - href: content/modelisation/index.qmd
          text: "Introduction"
        - content/modelisation/0_preprocessing.qmd
        - content/modelisation/1_modelevaluation.qmd
        - content/modelisation/2_classification.qmd
        - content/modelisation/3_regression.qmd
        - content/modelisation/4_featureselection.qmd
        - content/modelisation/5_clustering.qmd
        - content/modelisation/6_pipeline.qmd
        - content/modelisation/7_mlapi.qmd
    - id: NLP
      title: "NLP"
      #collapse-level: 2
      contents:
        - href: content/NLP/index.qmd
          text: "Introduction"
        - content/NLP/01_intro.qmd
        - content/NLP/02_exoclean.qmd
        - content/NLP/03_embedding.qmd
    - id: git
      title: "Git"
      #collapse-level: 2
      contents:
        - href: content/git/index.qmd
          text: "Introduction"
        - content/git/introgit.qmd
        - content/git/exogit.qmd
    - id: appendix
      title: "Annexes"
      #collapse-level: 2
      contents:
        - content/annexes/evaluation.qmd
        - content/annexes/corrections.qmd
        - href: https://linogaliana.github.io/python-datascientist-slides/#/title-slide
          text: "Slides de présentation"


citation:
  title: "Python pour la data science"
  author: Lino Galiana
  type: book
  doi: "10.5281/zenodo.8229676"
  url: https://pythonds.linogaliana.fr/
  issued: 2025

lang: fr


