project:
  type: website
  pre-render: utils.py
  render:
    - index.qmd
    - 404.qmd
    - content/getting-started/index.qmd
    - content/getting-started/01_environment.qmd
    - content/getting-started/02_data_analysis.qmd
    - content/getting-started/03_revisions.qmd
    - content/manipulation/index.qmd
    - content/manipulation/01_numpy.qmd
    - content/manipulation/02_pandas_intro.qmd
    - content/manipulation/02_pandas_suite.qmd
    - content/manipulation/02a_pandas_tutorial.qmd
    - content/manipulation/02b_pandas_TP.qmd
    - content/manipulation/03_geopandas_intro.qmd
    - content/manipulation/03_geopandas_tutorial.qmd
    - content/manipulation/03_geopandas_TP.qmd
    - content/manipulation/04a_webscraping_TP.qmd
    - content/manipulation/04c_API_TP.qmd
    - content/manipulation/04b_regex_TP.qmd
    - content/visualisation/index.qmd
    - content/visualisation/matplotlib.qmd
    - content/visualisation/maps.qmd
    - content/modelisation/index.qmd
    - content/modelisation/0_preprocessing.qmd
    - content/modelisation/1_modelevaluation.qmd
    - content/modelisation/2_SVM.qmd
    - content/modelisation/3_regression.qmd
    - content/modelisation/4_featureselection.qmd
    - content/modelisation/5_clustering.qmd
    - content/modelisation/6_pipeline.qmd
    - content/modelisation/7_mlapi.qmd
    - content/NLP/index.qmd
    - content/NLP/01_intro.qmd
    - content/NLP/02_exoclean.qmd
    - content/NLP/03_lda.qmd
    - content/NLP/04_word2vec.qmd
    - content/NLP/05_exo_supp.qmd
    - content/modern-ds/index.qmd
    - content/modern-ds/continuous_integration.qmd
    - content/modern-ds/s3.qmd
    - content/modern-ds/elastic_approfondissement.qmd
    - content/modern-ds/elastic_intro.qmd
    - content/git/index.qmd
    - content/git/introgit.qmd
    - content/git/exogit.qmd
    - content/annexes/about.qmd
    - content/annexes/evaluation.qmd
    - content/annexes/corrections.qmd

profile:
  default: fr
  group: [fr, en]




# WEBSITE ARCHITECTURE ---------------------


website:
  page-navigation: true
  back-to-top-navigation: true
  reader-mode: true
  navbar:
    background: "white"
    search: true
    title: false
    left:
      - file: index.qmd
        text: Home
      - sidebar:introduction
      - sidebar:manipulation
      - sidebar:communication
      - sidebar:modelisation
      - sidebar:NLP
      - sidebar:modern
      - sidebar:git
      - sidebar:appendix
    tools:
      - icon: github
        href: https://github.com/linogaliana/python-datascientist
  comments:
    giscus:
      repo: linogaliana/python-datascientist
  twitter-card: true
  site-url: https://pythonds.linogaliana.fr
  repo-url: https://github.com/linogaliana/python-datascientist
  repo-branch: master
  issue-url: https://github.com/linogaliana/python-datascientist/issues/new
  repo-actions: [edit, issue]


format:
  html:
    theme:
      light: [lightly, styles/custom.scss, styles/custom-light.scss]
      dark: [darkly, styles/custom.scss, styles/custom-dark.scss]
    css: styles.css
    toc: true
    code-overflow: wrap
    include-in-header: 
      - build/toggle.js
    #template-partials: 
      #- ../../_partials/title-block-link-buttons/title-block.html
  ipynb: default


# PAGE OPTIONS ---------------------

filters:
  - build/replace-title.lua
  - build/lang-notebook.lua
  - black-formatter
  - build/callout-jupyter.lua
  - include-code-files

crossref:
  chapters: true

author: Lino Galiana
date: today
date-format: iso
page-layout: article
title-block-banner: "#e9f3fa"
number-sections: true
wrap: preserve
format-links: false
validate-yaml: false
keep-ipynb: true
lightbox: auto
google-scholar: true
commentable: true

