project:
  type: website
  pre-render: utils.py
  render:
    - index.qmd
    - 404.qmd
    - content/getting-started/index.qmd
    - content/manipulation/index.qmd
    - content/visualisation/index.qmd
    - content/modelisation/index.qmd
    - content/modelisation/2_classification.qmd
    - content/NLP/index.qmd
    - content/annexes/corrections.qmd
    - content/annexes/evaluation.qmd
    - content/git/*.qmd
    - content/annexes/about.qmd
    - content/annexes/evaluation.qmd
    - content/annexes/corrections.qmd

profile:
  default: fr
  group: [fr, en]

execute: 
  cache: true

# WEBSITE ARCHITECTURE ---------------------

website:
  page-navigation: true
  back-to-top-navigation: true
  reader-mode: true
  navbar:
    background: "white"
    search: true
    title: false
    left:
      - file: index.qmd
        text: Home
      - sidebar:introduction
      - sidebar:manipulation
      - sidebar:communication
      - sidebar:modelisation
      - sidebar:NLP
      - sidebar:modern
      - sidebar:git
      - sidebar:appendix
    tools:
      - icon: github
        href: https://github.com/linogaliana/python-datascientist
  comments:
    giscus:
      repo: linogaliana/python-datascientist
  twitter-card: true
  site-url: https://pythonds.linogaliana.fr
  repo-url: https://github.com/linogaliana/python-datascientist
  repo-branch: main
  issue-url: https://github.com/linogaliana/python-datascientist/issues/new
  repo-actions: [edit, issue]


format:
  html:
    theme:
      light: [lightly, styles/custom.scss, styles/custom-light.scss]
      dark: [darkly, styles/custom.scss, styles/custom-dark.scss]
    css: styles.css
    toc: true
    code-overflow: wrap
    include-in-header: 
      - build/toggle.js
  ipynb: default


# PAGE OPTIONS ---------------------
  
filters:
  - build/replace-title.lua
  - build/lang-notebook.lua
  #- black-formatter
  - build/callout-jupyter.lua
  - include-code-files

crossref:
  chapters: true

author: Lino Galiana
date: today
date-format: iso
page-layout: article
title-block-banner: "#e9f3fa"
number-sections: true
wrap: preserve
format-links: false
validate-yaml: false
keep-ipynb: true
lightbox: auto
google-scholar: true
commentable: true

