project:
  title: "python-datascientist"
  pre-render: utils.py
  render:
    - content/**/*.qmd

validate-yaml: false
jupyter: python3

wrap: preserve
keep-ipynb: true

format:
  hugo:
     html-math-method: 
      method: mathjax
  ipynb: default

#bibliography: references.bib

