/*-- scss:defaults --*/


/*-- scss:rules --*/
.dark .alert.alert-info,
.dark .alert.alert-success,
.dark .alert.alert-danger,
.dark .alert.alert-warning {
	/* padding: 1px 0px; */
	background-color: #23252f;
	color: white;
}

.dark .alert > :not(pre) > code {
  color: #e83e8c !important;
}


.alert-info > .alert-heading {
	background-color: #e7f2fa;
}
.alert-success > .alert-heading {
	background-color: #ecf8e8;
}
.alert-warning > .alert-heading {
	background-color: #fff6dd;
}
.alert-danger > .alert-heading {
	background-color: #dc3545;
}


/* Dark mode heading*/
.alert-info > .alert-heading {
	background-color: #032b47;
}
.alert-success > .alert-heading {
	background-color: #2db400;
}
.alert-warning > .alert-heading {
	background-color: #a09500;
}
.alert-danger > .alert-heading {
	background-color: #c4071a;
}



/* LEFT BORDERS */
.box-warning {
    border-left: .2rem solid #ff0039;
  }
  .alert-danger {
    border-left: .2rem solid #ff0039;
  }
  .dark .alert-danger {
    border-left: .2rem solid #5c0014;
  }
  .box-caution {
    border-left:.2rem solid #fd7e1480;
  }
  .box-danger {
    border-left:.2rem solid #dc354580;
  }
  .box-error {
    border-left:.2rem solid #dc354580;
  }
  .box-hint {
    border-left:.2rem solid #ffc10780;
  }
  .box-tip {
    border-left:.2rem solid #ffc10780;
  }
  .alert-warning {
    border-left:.2rem solid #ffc10780;
  }
  .dark .alert-warning {
    border-left:.2rem solid #d4ab38;
  }
  .box-important {
    border-left:.2rem solid #007bff80;
  }
  .alert-info {
    border-left:.2rem solid #007bff80;
  }
  .dark .alert-info {
    border-left:.2rem solid #02316356;
  }
  .box-attention {
    border-left:.2rem solid #fd7e1480;
  }
  .box-exercise {
    border-left:.2rem solid #3fb618;
  }
  .alert-success {
    border-left:.2rem solid #3fb618;
  }
  .dark .alert-success {
    border-left:.2rem solid #1a6600;
  }
  

  .box-body-exercise,
.box-body-warning,
.box-body-caution,
.box-body-danger,
.box-body-error,
.box-body-hint,
.box-body-tip,
.box-body-important,
.box-body-note,
.box-body-attention{
  padding: 1px 0px;
}

.box-header-exercise{
  background-color:#ecf8e8
}
.box-header-warning{
  background-color:#ffe6eb
}
.box-header-caution{
  background-color:#fd7e14
}
.box-header-error{
  background-color:#dc3545
}
.box-header-hint{
  background-color:#fff6dd
}
.box-header-tip{
  background-color:#fff6dd
}
.box-header-important{
  background-color:#e7f2fa
}
.box-header-note{
  background-color:#e7f2fa
}
.box-header-attention{
  background-color:#ffedcc
}
.box-header-danger{
  background-color:#fdf3f2
}

.box h3,
.alert h3{
  margin-top: 0rem;
  font-weight:600;
  font-size: 1.1rem;
  padding-top: .2em;
  padding-bottom: .2em;
}
