#title-block-header {
    display: none ;
  }
  
  code {
   color:#e83e8c;
   background-color: transparent !important;
  }
  
  
  #hero-banner {
    padding-top: 35px;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  #quarto-content main { 
    margin-top: 0;
    padding-top: 0;
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  .headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
  }
  
  .headline p {
    margin: 0;
    padding-bottom: 0.2rem;
  }
  
  .headline a {
    text-decoration: none;
  }
  
  .headline ul li {
    margin-bottom: 0.3em;
  }
  