affine==2.4.0
aiobotocore==2.5.4
aiohttp==3.8.5
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.12.0
appdirs==1.4.4
astroid==2.15.6
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
backports.functools-lru-cache==1.6.5
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
bokeh==3.2.2
boltons==23.0.0
boto3==1.28.49
botocore==1.31.17
branca==0.6.0
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.3.1
cartiflette @ git+https://github.com/inseefrlab/cartiflette@main
Cartopy==0.22.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.4
conda==23.7.4
conda-libmamba-solver==23.3.0
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
configparser==5.3.0
contextily==1.3.0
contourpy==1.1.1
cryptography==41.0.3
cycler==0.11.0
cytoolz==0.12.2
dask==2023.9.2
databricks-cli==0.17.7
debugpy==1.8.0
decorator==5.1.1
dill==0.3.7
distributed==2023.9.2
docker==6.1.3
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
Fiona==1.9.4
flake8==6.1.0
Flask==2.3.3
folium==0.14.0
fontawesomefree==6.4.2
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.1
GDAL==3.7.1
gensim==4.3.2
geographiclib==2.0
geopandas==0.12.2
geoplot==0.5.1
geopy==2.4.0
gitdb==4.0.10
GitPython==3.1.36
google-auth==2.23.0
graphviz==0.20.1
greenlet==2.0.2
gunicorn==21.2.0
hvac==0.11.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
inflate64==0.3.1
ipykernel==6.25.2
ipython==8.15.0
ipywidgets==8.1.1
isort==5.12.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-cache==0.6.1
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab-widgets==3.0.9
kaleido==0.2.1
kiwisolver==1.4.5
kubernetes==27.2.0
lazy-object-proxy==1.9.0
libmambapy==1.5.0
llvmlite==0.40.1
locket==1.0.0
lxml==4.9.3
lz4==4.3.2
Mako==1.2.4
mamba==1.5.0
mapclassify==2.5.0
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mercantile==1.2.1
mizani==0.9.3
mlflow==2.7.1
msgpack==1.0.5
multidict==6.0.4
multivolumefile==0.2.3
munch==4.0.0
munkres==1.1.4
nbclient==0.7.4
nbformat==5.9.2
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
numba==0.57.1
numpy==1.24.4
oauthlib==3.2.2
openpyxl==3.1.2
OWSLib==0.28.1
packaging==23.1
pandas==2.1.0
paramiko==3.3.1
parso==0.8.3
partd==1.4.0
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pip==23.2.1
pipreqs==0.4.13
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
plotly==5.17.0
plotnine==0.12.3
pluggy==1.3.0
polars==0.19.3
prometheus-client==0.17.1
prometheus-flask-exporter==0.22.4
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py7zr==0.20.6
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybcj==1.0.1
pycodestyle==2.11.0
pycosat==0.6.4
pycparser==2.21
pycryptodomex==3.19.0
pyflakes==3.1.0
Pygments==2.16.1
PyJWT==2.8.0
pylint==2.17.5
PyNaCl==1.5.0
pynsee==0.1.4
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyppmd==1.0.0
pyproj==3.6.0
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyu2f==0.1.5
pywaffle==1.1.0
PyYAML==6.0.1
pyzmq==25.1.1
pyzstd==0.15.9
querystring-parser==1.2.4
rasterio==1.3.8
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.10.3
rsa==4.9
Rtree==1.0.1
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
s3fs==2023.9.1
s3transfer==0.6.2
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
setuptools==68.1.2
shapely==2.0.1
six==1.16.0
smart-open==6.4.0
smmap==3.0.5
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.20
sqlparse==0.4.4
stack-data==0.6.2
statsmodels==0.14.0
tabulate==0.9.0
tblib==2.0.0
tenacity==8.2.3
texttable==1.6.7
threadpoolctl==3.2.0
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
topojson==1.5
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.0
typing_extensions==4.7.1
tzdata==2023.3
Unidecode==1.3.6
urllib3==1.26.15
wcwidth==0.2.6
websocket-client==1.6.3
Werkzeug==2.3.7
wheel==0.41.2
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.15.0
xgboost==1.7.6
xlrd==2.0.1
xyzservices==2023.7.0
yarg==0.1.9
yarl==1.9.2
yellowbrick==1.5
zict==3.0.0
zipp==3.16.2
zstandard==0.21.0
