black
pynsee
xlrd
contextily
cartiflette @ git+https://github.com/inseefrlab/cartiflette
graphviz
plotnine
geoplot
kaleido
yellowbrick
wordcloud
pywaffle
scikit-image
webdriver-manager
spacy
gensim
duckdb
black
