.panel-exercise,
.panel-warning,
.panel-caution,
.panel-danger,
.panel-error,
.panel-hint,
.panel-tip,
.panel-important,
.panel-note,
.panel-attention{
  margin:1.5625emauto;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  /*border-left:.2rem solid #dc3545;*/
  border-radius:.1rem;
  box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,background-color .25s,border-color .25s
}
.panel-warning {
  border-left:.2rem solid #dc3545;
}
.panel-caution {
  border-left:.2rem solid #fd7e14;
}
.panel-danger {
  border-left:.2rem solid #dc3545;
}
.panel-error {
  border-left:.2rem solid #dc3545;
}
.panel-hint {
  border-left:.2rem solid #ffc107;
}
.panel-tip {
  border-left:.2rem solid #ffc107;
}
.panel-important {
  border-left:.2rem solid #007bff;
}
.panel-note {
  border-left:.2rem solid #007bff;
}
.panel-attention {
  border-left:.2rem solid #fd7e14;
}
.panel-exercise {
  border-left:.2rem solid #008000;
}

.panel-header-exercise,
.panel-header-warning,
.panel-header-caution,
.panel-header-danger,
.panel-header-error,
.panel-header-hint,
.panel-header-tip,
.panel-header-important,
.panel-header-note,
.panel-header-attention{
  /*background-color:#fdf3f2;*/
  position:relative;
  margin:0 -.6rem!important;
  padding:.4rem .6rem .4rem 2rem;
  font-weight:700;
}


.panel-body-exercise,
.panel-body-warning,
.panel-body-caution,
.panel-body-danger,
.panel-body-error,
.panel-body-hint,
.panel-body-tip,
.panel-body-important,
.panel-body-note,
.panel-body-attention{
  padding: 20px 0px;
}

.panel-header-exercise{
  background-color:#98fb98
}
.panel-header-warning{
  background-color:#dc3545
}
.panel-header-caution{
  background-color:#fd7e14
}
.panel-header-error{
  background-color:#dc3545
}
.panel-header-hint{
  background-color:#fff6dd
}
.panel-header-tip{
  background-color:#fff6dd
}
.panel-header-important{
  background-color:#e7f2fa
}
.panel-header-note{
  background-color:#e7f2fa
}
.panel-header-attention{
  background-color:#ffedcc
}
.panel-header-danger{
  background-color:#fdf3f2
}

.panel h3{
  margin-top: 0rem;
}