.panel-exercise,
.panel-warning,
.panel-caution,
.panel-danger,
.panel-error,
.panel-hint,
.panel-tip,
.panel-important,
.panel-note,
.panel-attention{
  margin:1.5625emauto;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  /*border-left:.2rem solid #dc3545;*/
  border-radius:.1rem;
  box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,background-color .25s,border-color .25s
}
.panel-warning {
  border-left:.2rem solid #dc3545;
}
.panel-caution {
  border-left:.2rem solid #fd7e14;
}
.panel-danger {
  border-left:.2rem solid #dc3545;
}
.panel-error {
  border-left:.2rem solid #dc3545;
}
.panel-hint {
  border-left:.2rem solid #ffc107;
}
.panel-tip {
  border-left:.2rem solid #ffc107;
}
.panel-important {
  border-left:.2rem solid #007bff;
}
.panel-note {
  border-left:.2rem solid #007bff;
}
.panel-attention {
  border-left:.2rem solid #fd7e14;
}
.panel-exercise {
  border-left:.2rem solid #008000;
}

.panel-header-exercise,
.panel-header-warning,
.panel-header-caution,
.panel-header-danger,
.panel-header-error,
.panel-header-hint,
.panel-header-tip,
.panel-header-important,
.panel-header-note,
.panel-header-attention{
  /*background-color:#fdf3f2;*/
  position:relative;
  margin:0 -.6rem!important;
  padding:.4rem .6rem .4rem 2rem;
  font-weight:700;
}


.panel-body-exercise,
.panel-body-warning,
.panel-body-caution,
.panel-body-danger,
.panel-body-error,
.panel-body-hint,
.panel-body-tip,
.panel-body-important,
.panel-body-note,
.panel-body-attention{
  padding: 20px 0px;
}

.panel-header-exercise{
  background-color:#98fb98
}
.panel-header-warning{
  background-color:#dc3545
}
.panel-header-caution{
  background-color:#fd7e14
}
.panel-header-error{
  background-color:#dc3545
}
.panel-header-hint{
  background-color:#fff6dd
}
.panel-header-tip{
  background-color:#fff6dd
}
.panel-header-important{
  background-color:#e7f2fa
}
.panel-header-note{
  background-color:#e7f2fa
}
.panel-header-attention{
  background-color:#ffedcc
}
.panel-header-danger{
  background-color:#fdf3f2
}

.panel h3{
  margin-top: 0rem;
}

a img{
  display: inline;
}



/* copy button */

.copy-code-button {
    color: #272822;
    background-color: #FFF;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}


/* ------------------
Reprise du jupyterbook template
---------------*/

/* imported from jupyterbook specif*/

/* imported from jupyterbook specif*/

/* imported from jupyterbook specif*/

:root {
  /*****************************************************************************
  * Theme config
  **/
  --pst-header-height: 60px;

  /*****************************************************************************
  * Font size
  **/
  --pst-font-size-base: 15px; /* base font size - applied at body / html level */

  /* heading font sizes */
  --pst-font-size-h1: 36px;
  --pst-font-size-h2: 32px;
  --pst-font-size-h3: 26px;
  --pst-font-size-h4: 21px;
  --pst-font-size-h5: 18px;
  --pst-font-size-h6: 16px;

  /* smaller then heading font sizes*/
  --pst-font-size-milli: 12px;

  --pst-sidebar-font-size: .9em;
  --pst-sidebar-caption-font-size: .9em;

  /*****************************************************************************
  * Font family
  **/
  /* These are adapted from https://systemfontstack.com/ */
  --pst-font-family-base-system: -apple-system, BlinkMacSystemFont, Segoe UI, "Helvetica Neue",
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --pst-font-family-monospace-system: "SFMono-Regular", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;

  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);

  /*****************************************************************************
  * Color
  * 
  * Colors are defined in rgb string way, "red, green, blue"
  **/
  --pst-color-primary: 19, 6, 84;
  --pst-color-success: 40, 167, 69;
  --pst-color-info: 0, 123, 255;  /*23, 162, 184;*/
  --pst-color-warning: 255, 193, 7;
  --pst-color-danger: 220, 53, 69;
  --pst-color-text-base: 51, 51, 51;

  --pst-color-h1: var(--pst-color-primary);
  --pst-color-h2: var(--pst-color-primary);
  --pst-color-h3: var(--pst-color-text-base);
  --pst-color-h4: var(--pst-color-text-base);
  --pst-color-h5: var(--pst-color-text-base);
  --pst-color-h6: var(--pst-color-text-base);
  --pst-color-paragraph: var(--pst-color-text-base);
  --pst-color-link: 0, 91, 129;
  --pst-color-link-hover: 227, 46, 0;
  --pst-color-headerlink: 198, 15, 15;
  --pst-color-headerlink-hover: 255, 255, 255;
  --pst-color-preformatted-text: 34, 34, 34;
  --pst-color-preformatted-background: 250, 250, 250;
  --pst-color-inline-code: 232, 62, 140;

  --pst-color-active-navigation: 19, 6, 84;
  --pst-color-navbar-link: 77, 77, 77;
  --pst-color-navbar-link-hover: var(--pst-color-active-navigation);
  --pst-color-navbar-link-active: var(--pst-color-active-navigation);
  --pst-color-sidebar-link: 77, 77, 77;
  --pst-color-sidebar-link-hover: var(--pst-color-active-navigation);
  --pst-color-sidebar-link-active: var(--pst-color-active-navigation);
  --pst-color-sidebar-expander-background-hover: 244, 244, 244;
  --pst-color-sidebar-caption: 77, 77, 77;
  --pst-color-toc-link: 119, 117, 122;
  --pst-color-toc-link-hover: var(--pst-color-active-navigation);
  --pst-color-toc-link-active: var(--pst-color-active-navigation);

  /*****************************************************************************
  * Icon
  **/

  /* font awesome icons*/
  --pst-icon-check-circle: '\f058';
  --pst-icon-info-circle: '\f05a';
  --pst-icon-exclamation-triangle: '\f071';
  --pst-icon-exclamation-circle: '\f06a';
  --pst-icon-times-circle: '\f057';
  --pst-icon-lightbulb: '\f0eb';
 
  /*****************************************************************************
  * Admonitions
  **/
  
 
  --pst-color-admonition-default: var(--pst-color-info);
  --pst-color-admonition-note: var(--pst-color-info);
  --pst-color-admonition-attention: var(--pst-color-warning);
  --pst-color-admonition-caution: var(--pst-color-warning);
  --pst-color-admonition-warning: var(--pst-color-warning);
  --pst-color-admonition-danger: var(--pst-color-danger);
  --pst-color-admonition-error: var(--pst-color-danger);
  --pst-color-admonition-hint: var(--pst-color-success);
  --pst-color-admonition-tip: var(--pst-color-success);
  --pst-color-admonition-important: var(--pst-color-success);

  --pst-icon-admonition-default: var(--pst-icon-info-circle);
  --pst-icon-admonition-note: var(--pst-icon-info-circle);
  --pst-icon-admonition-attention: var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-caution: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-warning: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-danger: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-error: var(--pst-icon-times-circle);
  --pst-icon-admonition-hint: var(--pst-icon-lightbulb);
  --pst-icon-admonition-tip: var(--pst-icon-lightbulb);
  --pst-icon-admonition-important: var(--pst-icon-exclamation-circle);

}

html {
 font-size:var(--pst-font-size-base);
 /*scroll-padding-top:calc(var(--pst-header-height) + 12px)*/
}

body {
 /*padding-top:calc(var(--pst-header-height) + 20px);*/
 background-color:#fff;
 font-family:var(--pst-font-family-base);
 font-weight:400;
 line-height:1.85;
 color:rgba(var(--pst-color-text-base),1)
}

p {
 margin-bottom:1.15rem;
 font-size:1em;
 color:rgba(var(--pst-color-paragraph),1)
}

.heading-style, h1, h2, h3, h4, h5, h6 {
    margin: 2.75rem 0 1.05rem;
    font-family: var(--pst-font-family-heading);
    font-weight: 400;
    line-height: 1.15;
}

h2 {
    font-size: var(--pst-font-size-h2);
    color: rgba(var(--pst-color-h2),1);
}

h3 {
    font-size: var(--pst-font-size-h3);
    color: rgba(var(--pst-color-h3),1);
}

.docs-article-container {
    max-width: 760px;
    width: 75%;
    position: relative;
}

.docs-toc {
    padding: 0px !important;
    right: -1em;
    z-index: 999;
    height: auto;
    position: sticky;
    top: calc(var(--pst-header-height) + 20px);
    height: calc(100vh - 5rem);
    overflow-y: auto;  
}

.col-12 {
    max-width: 1000px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

