.panel-exercise,
.panel-warning,
.panel-caution,
.panel-danger,
.panel-error,
.panel-hint,
.panel-tip,
.panel-important,
.panel-note,
.panel-attention{
  margin:1.5625emauto;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  /*border-left:.2rem solid #dc3545;*/
  border-radius:.1rem;
  box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,background-color .25s,border-color .25s
}
.panel-warning {
  border-left:.2rem solid #dc3545;
}
.panel-caution {
  border-left:.2rem solid #fd7e14;
}
.panel-danger {
  border-left:.2rem solid #dc3545;
}
.panel-error {
  border-left:.2rem solid #dc3545;
}
.panel-hint {
  border-left:.2rem solid #ffc107;
}
.panel-tip {
  border-left:.2rem solid #ffc107;
}
.panel-important {
  border-left:.2rem solid #007bff;
}
.panel-note {
  border-left:.2rem solid #007bff;
}
.panel-attention {
  border-left:.2rem solid #fd7e14;
}
.panel-exercise {
  border-left:.2rem solid #008000;
}

.panel-header-exercise,
.panel-header-warning,
.panel-header-caution,
.panel-header-danger,
.panel-header-error,
.panel-header-hint,
.panel-header-tip,
.panel-header-important,
.panel-header-note,
.panel-header-attention{
  /*background-color:#fdf3f2;*/
  position:relative;
  margin:0 -.6rem!important;
  padding:.4rem .6rem .4rem 2rem;
  font-weight:700;
}


.panel-body-exercise,
.panel-body-warning,
.panel-body-caution,
.panel-body-danger,
.panel-body-error,
.panel-body-hint,
.panel-body-tip,
.panel-body-important,
.panel-body-note,
.panel-body-attention{
  padding: 20px 0px;
}

.panel-header-exercise{
  background-color:#98fb98
}
.panel-header-warning{
  background-color:#dc3545
}
.panel-header-caution{
  background-color:#fd7e14
}
.panel-header-error{
  background-color:#dc3545
}
.panel-header-hint{
  background-color:#fff6dd
}
.panel-header-tip{
  background-color:#fff6dd
}
.panel-header-important{
  background-color:#e7f2fa
}
.panel-header-note{
  background-color:#e7f2fa
}
.panel-header-attention{
  background-color:#ffedcc
}
.panel-header-danger{
  background-color:#fdf3f2
}

.panel h3{
  margin-top: 0rem;
}

a img{
  display: inline;
}



/* copy button */

pre .copy {
  float: right;
}

pre .copy button {
  font-size: 80%;
  padding: 4px 6px;
}

pre .copy > button > i.bi::before {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  content: "";
  vertical-align: -0.125em;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

pre .copy > button.btn-copy-checked > .bi::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg>');
}