
/* Size of space between badges */

a + br {
  display: block;
  margin: -15px 0;
}



/* ------------------------------
DATAFRAME RENDERING
---------------------------------*/

.dataframe {
  border: none
}

.dataframe table {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black ;
  font-size: 12px;
  table-layout: fixed;
}

.dataframe thead {
  border-bottom: 1px solid black ;
  vertical-align: bottom;
}

.dataframe tr, .dataframe th, .dataframe td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}

.dataframe th {
  font-weight: bold;
}
.dataframe tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.dataframe tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
/* 
borrowed from
https://github.com/jupyter/notebook/blob/9de5042e1058dc8aef7632f313e3e86c33390d31/notebook/static/notebook/less/renderedhtml.less#L77-L109
*/




/*-------------------
    CUSTOM BOXES
--------------------*/

.box-exercise,
.box-warning,
.box-caution,
.box-danger,
.box-error,
.box-hint,
.box-tip,
.box-important,
.box-note,
.box-attention{
  margin-top: 1em;
  margin-bottom: 1em;  
  margin:1.5625emauto;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  /*border-left:.2rem solid #dc3545;*/
  border-radius:.25rem;
  box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,background-color .25s,border-color .25s ;
  border-right: 1px solid #dee2e6 ;
  border-top: 1px solid #dee2e6 ;
  border-bottom: 1px solid #dee2e6 ;
}

.box-warning {
  border-left: .2rem solid #ff0039;
}
.box-caution {
  border-left:.2rem solid #fd7e1480;
}
.box-danger {
  border-left:.2rem solid #dc354580;
}
.box-error {
  border-left:.2rem solid #dc354580;
}
.box-hint {
  border-left:.2rem solid #ffc10780;
}
.box-tip {
  border-left:.2rem solid #ffc10780;
}
.box-important {
  border-left:.2rem solid #007bff80;
}
.box-note {
  border-left:.2rem solid #007bff80;
}
.box-attention {
  border-left:.2rem solid #fd7e1480;
}
.box-exercise {
  border-left:.2rem solid #3fb618;
}

.box-header-exercise,
.box-header-warning,
.box-header-caution,
.box-header-danger,
.box-header-error,
.box-header-hint,
.box-header-tip,
.box-header-important,
.box-header-note,
.box-header-attention{
  /*background-color:#fdf3f2;*/
  position:relative;
  margin:0 -.6rem!important;
  padding: 0rem 0rem 0em 1rem;
  font-weight:600;
  font-size: .9rem;
}


.box-body-exercise,
.box-body-warning,
.box-body-caution,
.box-body-danger,
.box-body-error,
.box-body-hint,
.box-body-tip,
.box-body-important,
.box-body-note,
.box-body-attention{
  padding: 1px 0px;
}

.box-header-exercise{
  background-color:#ecf8e8
}
.box-header-warning{
  background-color:#ffe6eb
}
.box-header-caution{
  background-color:#fd7e14
}
.box-header-error{
  background-color:#dc3545
}
.box-header-hint{
  background-color:#fff6dd
}
.box-header-tip{
  background-color:#fff6dd
}
.box-header-important{
  background-color:#e7f2fa
}
.box-header-note{
  background-color:#e7f2fa
}
.box-header-attention{
  background-color:#ffedcc
}
.box-header-danger{
  background-color:#fdf3f2
}

.box h3{
  margin-top: 0rem;
  font-weight:600;
  font-size: 1.1rem;
  padding-top: .2em;
  padding-bottom: .2em;
}

a img{
  display: inline;
}



/* copy button */

.copy-code-button {
    color: #272822;
    background-color: #FFF;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}


/* ------------------
Reprise du jupyterbook template
---------------*/

/* imported from jupyterbook specif*/

/* imported from jupyterbook specif*/

/* imported from jupyterbook specif*/

:root {
  /*****************************************************************************
  * Theme config
  **/
  --pst-header-height: 60px;

  /*****************************************************************************
  * Font size
  **/
  --pst-font-size-base: 15px; /* base font size - applied at body / html level */

  /* heading font sizes */
  --pst-font-size-h1: 36px;
  --pst-font-size-h2: 32px;
  --pst-font-size-h3: 26px;
  --pst-font-size-h4: 21px;
  --pst-font-size-h5: 18px;
  --pst-font-size-h6: 16px;

  /* smaller then heading font sizes*/
  --pst-font-size-milli: 12px;

  --pst-sidebar-font-size: .9em;
  --pst-sidebar-caption-font-size: .9em;

  /*****************************************************************************
  * Font family
  **/
  /* These are adapted from https://systemfontstack.com/ */
  --pst-font-family-base-system: -apple-system, BlinkMacSystemFont, Segoe UI, "Helvetica Neue",
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --pst-font-family-monospace-system: "SFMono-Regular", Menlo, Consolas, Monaco,
    Liberation Mono, Lucida Console, monospace;

  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);

  /*****************************************************************************
  * Color
  * 
  * Colors are defined in rgb string way, "red, green, blue"
  **/
  --pst-color-primary: 19, 6, 84;
  --pst-color-success: 40, 167, 69;
  --pst-color-info: 0, 123, 255;  /*23, 162, 184;*/
  --pst-color-warning: 255, 193, 7;
  --pst-color-danger: 220, 53, 69;
  --pst-color-text-base: 51, 51, 51;

  --pst-color-h1: var(--pst-color-primary);
  --pst-color-h2: var(--pst-color-primary);
  --pst-color-h3: var(--pst-color-text-base);
  --pst-color-h4: var(--pst-color-text-base);
  --pst-color-h5: var(--pst-color-text-base);
  --pst-color-h6: var(--pst-color-text-base);
  --pst-color-paragraph: var(--pst-color-text-base);
  --pst-color-link: 0, 91, 129;
  --pst-color-link-hover: 227, 46, 0;
  --pst-color-headerlink: 198, 15, 15;
  --pst-color-headerlink-hover: 255, 255, 255;
  --pst-color-preformatted-text: 34, 34, 34;
  --pst-color-preformatted-background: 250, 250, 250;
  --pst-color-inline-code: 232, 62, 140;

  --pst-color-active-navigation: 19, 6, 84;
  --pst-color-navbar-link: 77, 77, 77;
  --pst-color-navbar-link-hover: var(--pst-color-active-navigation);
  --pst-color-navbar-link-active: var(--pst-color-active-navigation);
  --pst-color-sidebar-link: 77, 77, 77;
  --pst-color-sidebar-link-hover: var(--pst-color-active-navigation);
  --pst-color-sidebar-link-active: var(--pst-color-active-navigation);
  --pst-color-sidebar-expander-background-hover: 244, 244, 244;
  --pst-color-sidebar-caption: 77, 77, 77;
  --pst-color-toc-link: 119, 117, 122;
  --pst-color-toc-link-hover: var(--pst-color-active-navigation);
  --pst-color-toc-link-active: var(--pst-color-active-navigation);

  /*****************************************************************************
  * Icon
  **/

  /* font awesome icons*/
  --pst-icon-check-circle: '\f058';
  --pst-icon-info-circle: '\f05a';
  --pst-icon-exclamation-triangle: '\f071';
  --pst-icon-exclamation-circle: '\f06a';
  --pst-icon-times-circle: '\f057';
  --pst-icon-lightbulb: '\f0eb';
 
  /*****************************************************************************
  * Admonitions
  **/
  
 
  --pst-color-admonition-default: var(--pst-color-info);
  --pst-color-admonition-note: var(--pst-color-info);
  --pst-color-admonition-attention: var(--pst-color-warning);
  --pst-color-admonition-caution: var(--pst-color-warning);
  --pst-color-admonition-warning: var(--pst-color-warning);
  --pst-color-admonition-danger: var(--pst-color-danger);
  --pst-color-admonition-error: var(--pst-color-danger);
  --pst-color-admonition-hint: var(--pst-color-success);
  --pst-color-admonition-tip: var(--pst-color-success);
  --pst-color-admonition-important: var(--pst-color-success);

  --pst-icon-admonition-default: var(--pst-icon-info-circle);
  --pst-icon-admonition-note: var(--pst-icon-info-circle);
  --pst-icon-admonition-attention: var(--pst-icon-exclamation-circle);
  --pst-icon-admonition-caution: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-warning: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-danger: var(--pst-icon-exclamation-triangle);
  --pst-icon-admonition-error: var(--pst-icon-times-circle);
  --pst-icon-admonition-hint: var(--pst-icon-lightbulb);
  --pst-icon-admonition-tip: var(--pst-icon-lightbulb);
  --pst-icon-admonition-important: var(--pst-icon-exclamation-circle);

}

html {
 font-size:var(--pst-font-size-base);
 /*scroll-padding-top:calc(var(--pst-header-height) + 12px)*/
}

body {
 /*padding-top:calc(var(--pst-header-height) + 20px);*/
 background-color:#fff;
 font-family:var(--pst-font-family-base);
 font-weight:400;
 line-height:1.85;
 color:rgba(var(--pst-color-text-base),1)
}

p {
 margin-bottom:1.15rem;
 font-size:1em;
 /*color:rgba(var(--pst-color-paragraph),1)*/
}

.heading-style, h1, h2, h3, h4, h5, h6 {
    margin: 2.75rem 0 1.05rem;
    font-family: var(--pst-font-family-heading);
    font-weight: 400;
    line-height: 1.15;
}

h2 {
    font-size: var(--pst-font-size-h2);
    color: rgba(var(--pst-color-h2),1);
}

h3 {
    font-size: var(--pst-font-size-h3);
    color: rgba(var(--pst-color-h3),1);
}

.badges {
  margin: 0 ;
  line-height: 0;
}


// Plotly chart
div.chart {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  // Add horizontal scroll on mobile since Plotly
  overflow-x: auto;
}

/*
.docs-article-container {
    max-width: 760px;
    width: 80%;
    position: relative;
}
*/

/*
.col-12 .docs-content {
    max-width: 1000px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    display: flex !important;
}
*/


@media (min-width: 992px){
/*
.navbar-nav {
   padding: 0;
   display: flex;
   align-items: center;
    width: 90%;
    position: relative;
 }
 */
    .navbar li {
        margin-left : 0.1em;
        margin-right : 0.1em;
        padding-left:0.1em;
  padding-right:0.1em;
    display: inline-block;
    list-style-type: none;
}
  .navbar .nav-item{
    text-align: center;
  }
}

.hljs {
  font-size: 12px;
}

/*
.docs-content {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 1000px;
    width: 80%;
    position: relative;
    flex-grow: 1 !important;
}
*/

/*
.docs-sidebar {
    padding: 0px !important;
    right: -1em;
    height: auto;
    position: sticky;
    top: calc(var(--pst-header-height) + 20px);
    height: calc(100vh - 5rem);
    width: 275px;
    flex: auto;
    margin-left: 0;
    overflow-y: auto;
    background: white;
    z-index: 2000 !important;
    scrollbar-width: thin;
}
*/  




/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.container {
	margin-top: 2rem;
}

.nav-tabs {
	margin-top: 2rem;
}

.tab-content {
	margin: 2rem 0 2rem 1rem;
}


/*----
.post-body {
    .panelset {
      .mw-100, .relative, .pv3 {
      --panel-tabs-border-bottom: currentColor;
      --panel-tab-foreground: currentColor;
      --panel-tab-background: unset;
      --panel-tab-active-foreground: currentColor;
      --panel-tab-active-background: unset;
      --panel-tab-hover-foreground: currentColor;
      --panel-tab-hover-background: unset;
      --panel-tab-active-border-color: currentColor;
      --panel-tab-hover-border-color: currentColor;
      --panel-tab-inactive-opacity: 0.5;
      --panel-tab-font-family: inherit;
    }
    }
    
    .panelset * {
      box-sizing: border-box;
    }
    
    .panelset .panel-tabs {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      -webkit-box-pack: start;
              justify-content: start;
      -webkit-box-align: center;
              align-items: center;
      overflow-y: visible;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      padding: 0 0 2px 0;
      box-shadow: inset 0 -1px 0px var(--panel-tabs-border-bottom);
    }
    
    .panelset .panel-tabs * {
      -webkit-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
    }
    
    .panelset .panel-tabs .panel-tab {
      min-height: 50px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      padding: 0.5em 1em;
      font-family: var(--panel-tab-font-family);
      opacity: var(--panel-tab-inactive-opacity);
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      margin-bottom: -2px;
      color: var(--panel-tab-foreground);
      background-color: var(--panel-tab-background);
      list-style: none;
      z-index: 5;
    }
    
    .panelset .panel-tabs .panel-tab > a {
      color: currentColor;
      text-decoration: none;
      border: none;
    }
    
    .panelset .panel-tabs .panel-tab > a:focus {
      outline: none;
      text-decoration: none;
      border: none;
    }
    
    .panelset .panel-tabs .panel-tab > a:hover {
      text-decoration: none;
      border: none;
    }
    
    .panelset .panel-tabs .panel-tab:hover {
      border-bottom-color: var(--panel-tab-hover-border-color);
      color: var(--panel-tab-hover-foreground);
      background-color: var(--panel-tab-hover-background);
      opacity: 1;
      cursor: pointer;
      z-index: 10;
    }
    
    .panelset .panel-tabs .panel-tab:focus {
      outline: none;
      color: var(--panel-tab-hover-foreground);
      border-bottom-color: var(--panel-tab-hover-border-color);
      background-color: var(--panel-tab-hover-background);
    }
    
    .panelset .panel-tabs .panel-tab.panel-tab-active {
      border-top-color: var(--panel-tab-active-border-color);
      color: var(--panel-tab-active-foreground);
      background-color: var(--panel-tab-active-background);
      opacity: 1;
    }
    
    .panelset .panel {
      display: none;
    }
    
    .panelset .panel-active {
      display: block;
    }
}
-----*/
