table::first-line {
  font-weight: 900 ;
}

table caption {
  font-weight: 900 ;
  margin-top: 15px;
}

/* Eviter un conflit entre le logo et le premier paragraphe */
h1, h1 + * {
  margin-right: 2cm;
}
.title-slide h1, .title-slide h1 + * {
  margin-right: 0cm;
  text-align: center;
  text-align-last: center;
}

/* Taille des codes inline dans le texte  */
li code.remark-inline-code, p code.remark-inline-code {
  font-size: 18px;
}

.title-slide {
  /*background-image: url('resources/logo-utilitr.png');*/
  background-repeat: no-repeat;
  background-size: 4cm;
  background-color: white;
  background-position: 19cm 1cm;
  text-align-last: center;
  text-align: center;
  margin-right: 0;
  margin-left : 0;
  border-top: 0;

}

h1 .remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  background: #23373B; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.title-slide h1 .remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}
