/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');
$work-sans: 'Work Sans', sans-serif;
$font-family-sans-serif: $work-sans !default;
$presentation-font-size-root: 36px !default;

// Colors
$orange: rgb(255, 86, 44);
$black: rgb(44, 50, 63);
$white: rgb(241, 240, 235);
$green: rgb(186, 255, 41);
$body-color: $white !default;
$presentation-heading-text-shadow: 2px 1px 2px rgba($body-color, 0.3) !default;
$presentation-h1-text-shadow: 2px 3px 3px rgba($body-color, 0.3) !default;
$presentation-heading-font-weight: bold !default;
$body-bg: $black !default;
$link-color: $orange !default;
$light-bg-text-color: $black !default;
$light-bg-link-color: $orange !default;
$light-bg-code-color: $orange !default;
$dark-bg-text-color: $white !default;
$dark-bg-link-color: $orange !default;
$dark-bg-code-color: $green !default;

/*-- scss:rules --*/
.orange {
    color: $orange;
}
