.caption {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
  font-weight: 900;
}
/* Mise en forme des images inline */
img[src*="inline"] {
   display: inline ;
   vertical-align: middle;
   padding: 0;
}
p {
  /* Pas de marge entre les paragraphes du texte */
  margin-top: 0;
  margin-bottom: 0;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-left:.2rem solid rgba(220, 53, 69, 1);
}
/*
.rmdcaution {
  background-image: url("pics/images/caution.png");
}
.rmdimportant {
  background-image: url("pics/images/important.png");
}
.rmdnote {
  background-image: url("pics/images/note.png");
}
.rmdtip {
  background-image: url("pics/images/tip.png");
}
.rmdwarning {
  background-image: url("pics/images/warning.png");
}
*/

.recommandation,
.conseil,
.remarque,
.specificite,
.auteurs {
  margin: 20px 0 20px 30px ;
  padding: 0 0 3px 9px;
  position: relative;
  page-break-inside:avoid;
  border-left:   3px solid;
/*
  border-bottom: 0.25em solid;
*/
}
.recommandation {
  border-color: rgba(220, 53, 69, 1);
}
.conseil {
  border-color: rgba(255, 193, 7, 1);
}
.remarque {
  border-color: rgba(0, 123, 255, 1);
}
.specificite {
  border-color: rgba(81, 81, 81, 1);
}
.auteurs {
  border-color: rgba(82, 190, 128, 1);
}

.recommandation:before,
.conseil:before,
.remarque:before,
.specificite:before,
.auteurs:before {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 0 6px 10px;
  margin-left: -10px;
  margin-bottom: 0.4em;
  font-weight: 700;
  font-size: 120%;
  border-left: 30px;
}

.recommandation:before {
  content: "Recommandation";
  background-color:   rgba(220, 53, 69, 0.2);
  border-color: rgba(220, 53, 69, 0.2);
}

.conseil:before {
  content: "Conseil";
  background-color:  rgba(255, 193, 7, 0.2);
  border-color: rgba(255, 193, 7, 0.2);
}

.remarque:before {
  content: "Remarque";
  background-color:  rgba(0, 123, 255, 0.2);
  border-color: rgba(0, 123, 255, 0.2);
}

.specificite:before {
  content: "Spécificité de l'Insee";
  background-color:  rgba(81, 81, 81, 0.2);
  border-color: rgba(81, 81, 81, 0.2);
}

.auteurs:before {
  content: "Contributeurs du projet";
  background-color:   rgba(82, 190, 128, 0.2);
  border-color:   rgba(82, 190, 128, 0.2);
}

.recommandation:after,
.conseil:after,
.remarque:after,
.specificite:after,
.auteurs:after {
  font-family: "FontAwesome", "Font Awesome 5 Free" ;
  font-size: 200%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: -50px;
  height: 40px;
  width: 40px;
  top: 0;
}

/* Quelques réglages spécifiques pour le print */
@media print {
  .recommandation:after,
  .conseil:after,
  .remarque:after,
  .specificite:after,
  .auteurs:after {
    left: -40px;
    top: -6px;
  }
}

.recommandation:after {
  color: rgba(220, 53, 69, 1);
}

.conseil:after {
  color: rgba(255, 193, 7, 1);
}

.remarque:after {
  color: rgba(0, 123, 255, 1);
}

.specificite:after {
  color: rgba(81, 81, 81, 1);
}

.auteurs:after {
  color: rgb(82, 190, 128, 1);
}


.exercice {
  padding: 1em;
  background: #e6f0ff;
  border: 2px solid #4169e1;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
}

.btn-default {
    color: #2ecc71;
    background-color: #ffffff;
    border-color: #ffffff;
}
