/* Contrôler la couleur du code inline */
code {
    color: #c7254e;
    background-color: #f9f2f4 !important;
}
pre > code[class="r hljs remark-code"] {
    background-color: #eaeaea !important;
}
pre > code[class="remark-code"] > div[class="remark-code-line"] {
    background-color: #f6f6f6 !important;
}
.auteurs p {
  margin-top: 10px;
}
.remark-code {
  font-size: 16px;
}
ol > li {
  margin-top: 1em;
}
li li {
  margin-top: 0;
}

h2 {
  margin-bottom: 1.5rem;
}

.remark-slide-content {
  padding: 1em 4em 1em 2em;
}

.title-slide {
  background-image: url('logo-utilitr.png');
}
.title-slide h2 {
  text-align: center;
  text-align-last: center;
}
.indent{
  padding: 10px;
  margin-right: 1cm;
}
.sauterligne{
  margin-top: 1em;
}
.sauterligne2{
  margin-top: 2em;
}
.sauterligne3{
  margin-top: 3em;
}
.laisserligne{
  margin-bottom: 1em;
}
.big{
  font-size: 150%;
}
.small90{
  font-size: 90%;
}
.small90 code {
  font-size: 14px;
}
.small80{
  font-size: 80%;
}
.small80 code {
  font-size: 13px;
}
.small70{
  font-size: 70%;
}
.small70 code {
  font-size: 11px;
}
.small60{
  font-size: 60%;
}


table {
  margin: auto;
  text-align: left;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin-top: 10px;
  margin-bottom: 20px;
  /* Cette option évite la coupure des tableaux sur deux tables
  Attention: elle fait planter la compilation si un tableau est très long
  */
  break-inside: avoid;
}
table thead th {
  border-bottom: 1px solid #ddd;
}
/* Centrer les titres des tableaux */
thead {
  text-align: center;
  text-align-last: center;
}

td[style*="text-align:center;"] {
  text-align:center;
  text-align-last:center;
}
td[style*="text-align:left;"] {
  text-align:left;
  text-align-last:left;
}

td[style*="text-align:right;"] {
  text-align:right;
  text-align-last:right;
}
td[style*="text-align:justify;"] {
  text-align:justify;
  text-align-last:justify;
}

table td, table th {
  padding: 3px 5px 3px 5px;
}
thead, tfoot, tr:nth-child(even) {
  background: #eee;
}
table::first-line {
  font-weight: 900 ;
}
table code {
  background-color:   transparent;
}
.table th, .table td {
  vertical-align: middle;
  padding: 0.25rem;
}
/* Les marges des chunks dans les tableaux */
table pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem;
}
table::first-line {
  font-weight: 900 ;
}

table caption {
  font-weight: 900 ;
  margin-top: 15px;
}

img {
  display: inline-block;
}
.red {
  color: red;
}
.gray {
  color: gray;
  margin-top: -5px;
}
.gray ul {
  margin-top: 0;
}

.extraitdoc {
  -webkit-box-shadow: 5px 5px 15px 5px #999999 ;
  box-shadow: 5px 5px 15px 5px #999999 ;
  background-color: #EEF0E2;
  padding: 10px 10px 1px 10px;
}


img[alt="SSPcloud"] {
  padding: 0;
}
img[class = "lol"] {
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
  float: center;
  width: 30%;
  padding: 5px;
}
.column {
  float: left;
  width: 30%;
  padding: 0px 5px 0 5px;
  vertical-align: middle;
  display: inline-block;
}
.column img {
  padding-top: 0;
  padding-bottom: 0;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  overflow: hidden;
}
.tablelol {
  margin-left: 2cm;
  margin-right: auto;
}

/*--- COLUMN LAYOUTS ---*/

.cols3 {
  width: 32%;
  float: left;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}
.leftcol {
  float: left;
  width: 49%;
}
.rightcol {
  float: right;
  width: 49%;
}
.leftcol55 {
  float: left;
  width: 54%;
}
.rightcol45 {
  float: right;
  width: 44%;
}
.leftcol45 {
  float: left;
  width: 44%;
}
.rightcol55 {
  float: right;
  width: 54%;
}
.leftcol60 {
  float: left;
  width: 59%;
}
.rightcol40 {
  float: right;
  width: 39%;
}
.leftcol40 {
  float: left;
  width: 39%;
}
.rightcol60 {
  float: right;
  width: 59%;
}
.leftcol65 {
  float: left;
  width: 64%;
}
.rightcol35 {
  float: right;
  width: 34%;
}
.leftcol35 {
  float: left;
  width: 34%;
}
.rightcol65 {
  float: right;
  width: 64%;
}
.leftcol70 {
  float: left;
  width: 69%;
}
.rightcol30 {
  float: right;
  width: 29%;
}
.leftcol30 {
  float: left;
  width: 29%;
}
.rightcol70 {
  float: right;
  width: 69%;
}
.leftcol75 {
  float: left;
  width: 74%;
}
.rightcol25 {
  float: right;
  width: 25%;
}
.leftcol25 {
  float: left;
  width: 25%;
}
.rightcol75 {
  float: right;
  width: 74%;
}
.leftcol80 {
  float: left;
  width: 79%;
}
.rightcol20 {
  float: right;
  width: 19%;
}
.leftcol20 {
  float: left;
  width: 19%;
}
.rightcol80 {
  float: right;
  width: 79%;
}

/* Background color for highlighted code */
.remark-code-line-highlighted {
  background-color: rgb(206, 233, 255);  /*light blue*/
}

pre {
  margin: 0.5em 0;
}
