:root {
  --pagedjs-width: 21cm;
  --pagedjs-height: 29.7cm;
  --color-paper: white;
  --color-mbox: rgba(0, 0, 0, 0.2);
  --running-title-width: 10cm;
  --screen-pages-spacing: 5mm;
  --pagedjs-margin-bottom: 4cm;
  --pagedjs-margin-top: 4cm;
  --date-header: "Test date fiche";
}

html {
  line-height: 1.3;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* generated content */
@media print{
  a[href^="http"]:not([class="uri"])::after {
    content: " (" attr(href) ")";
    font-size: 100%;
    hyphens: none;
    word-break: break-all;
    }
    abbr[title]:after {
/*      content: " (" attr(title) ")";*/
    text-decoration: underline dotted;
    content: "";
  }
  /* Do not display hyperlinks induced by downlit syntax highlighting */
  code > span > a[href^="http"]:not([class="uri"])::after, code > a[href^="http"]:not([class="uri"])::after{
    content: none ;
  }
}
.references a[href^=http]:not([class=uri])::after {
  content: none;
}
.main a[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: " (page " target-counter(attr(href), page) ")";
}
.main a.front-matter-ref[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: " (page " target-counter(attr(href), page, lower-roman) ")";
}
/* do not include page references in code blocks */
.sourceCode a[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after,
.sourceCode a.front-matter-ref[href^="#"]:not([class^="footnote-"]):not([href*=":"])::after {
  content: unset;
}

/* TOC, LOT, LOF */
.toc ul, .lot ul, .lof ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  overflow-x: hidden;
}
.toc li[class="part"] {
  font-size: 200%;
  margin-top: 20px;
}
.toc li li {
  padding-left: 1em;
}
.toc a, .lot a, .lof a {
  text-decoration: none;
  background: white;
  padding-right: .33em;
}
.toc a::after, .lot a::after, .lof a::after {
  /* content: leader(dotted) target-counter(attr(href), page); */
  content: target-counter(attr(href), page);
  float: right;
  background: white;
}
.toc a.front-matter-ref::after, .lot a.front-matter-ref::after, .lof a.front-matter-ref::after {
  /* content: leader(dotted) target-counter(attr(href), page, lower-roman); */
  content: target-counter(attr(href), page, lower-roman);
}
.toc .leaders::before, .lot .leaders::before, .lof .leaders::before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

/* Chapter name */
.chapter > h1 > .header-section-number::before, .chapter-ref > .toc-section-number::before {
  content: var(--chapter-name-before, "Chapter ");
}
.chapter > h1 > .header-section-number::after, .chapter-ref > .toc-section-number::after {
  content: var(--chapter-name-after, "");
}

/* misc elements */
.subtitle span {
  font-size: .9em;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
  padding: 10px 0 10px;
}
/* Layout of chunks */
pre {
  padding: 0 1em;
}
abbr {
  text-decoration: none;
  font-style: italic;
  font-weight: 100;
}

@media screen {
  div.sourceCode {
    overflow: visible !important;
  }
  a.sourceLine::before {
    text-decoration: unset !important;
  }
}
pre.numberSource a.sourceLine {
  left: 0 !important;
  text-indent: -5em;

}
pre.numberSource {
  margin-left: 0 !important;
  margin: 1em 0;
}

pre.sourceCode{
  background-color: none;
  border-style: none;
}

table {
  margin: auto;
  text-align: left;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  margin-top: 10px;
  margin-bottom: 20px;
  /* Cette option évite la coupure des tableaux sur deux tables
  Attention: elle fait planter la compilation si un tableau est très long
  */
  break-inside: avoid;
}
table thead th {
  border-bottom: 1px solid #ddd;
}
/* Centrer les titres des tableaux */
thead {
  text-align: center;
  text-align-last: center;
}

td[style*="text-align:center;"] {
  text-align:center;
  text-align-last:center;
}
td[style*="text-align:left;"] {
  text-align:left;
  text-align-last:left;
}

td[style*="text-align:right;"] {
  text-align:right;
  text-align-last:right;
}
td[style*="text-align:justify;"] {
  text-align:justify;
  text-align-last:justify;
}

table td, table th {
  padding: 3px 5px 3px 5px;
}
thead, tfoot, tr:nth-child(even) {
  background: #eee;
}
table::first-line {
  font-weight: 900 ;
}
.footnotes {
  font-size: 90%;
}
.footnotes hr::before {
  content: "Footnotes:";
}
.footnotes hr {
  border: none;
}
.footnote-break {
  width: 1in;
}
body {
  hyphens: none;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: left;
}

/* Layout of code snippets (both inline and in chunks) */
code {
  hyphens: none;
  text-align: left;
}
code:after {
  content: none !important;
}
code:before {
  content: none !important;
}

pre.sourceCode > code {
  /* Cette option évite la coupure des chunks sur deux tables
  Attention: elle fait planter la compilation si un chunk est très long
  */
  break-inside: avoid;
  padding: 0;
}

table code {
  background-color:   transparent;
}


