{{ if .IsNamedParams }}
<div class="box {{ with .Get "status" }}box-{{ . }}{{ else }}box-primary{{ end }}">
{{- with .Get "title" -}}
<div class="box-header-{{ $.Get "status" }}">
<h3>{{ if $.Get "icon" }}<i class="{{ $.Get "icon" }}"></i> {{ end }}{{- htmlUnescape . | markdownify -}}</h3>
</div>
{{- end -}}
<div class="box-body-{{ $.Get "status" }}">
{{.Inner}}
</div>
</div>
{{ else }}
<div class="box {{ with .Get 0 }}box-{{ . }}{{ else }}box-primary{{ end }}">
{{- with .Get 1 -}}
<div class="box-header-{{ $.Get 0 }}">
<h3>{{ if $.Get 2 }}<i class="{{ $.Get 2 }}"></i> {{ end }}{{- htmlUnescape . | markdownify -}}</h3>
</div>
{{- end -}}
<div class="box-body-{{ $.Get 0 }}">
{{.Inner}}
</div>
</div>
{{ end }}