{{ if .IsNamedParams }}
<div class="panel {{ with .Get "status" }}panel-{{ . }}{{ else }}panel-primary{{ end }}">
{{- with .Get "title" -}}
<div class="panel-header-{{ $.Get "status" }}">
<h3>{{ if $.Get "icon" }}<i class="{{ $.Get "icon" }}"></i> {{ end }}{{- htmlUnescape . | markdownify -}}</h3>
</div>
{{- end -}}
<div class="panel-body-{{ $.Get "status" }}">
{{.Inner}}
</div>
</div>
{{ else }}
<div class="panel {{ with .Get 0 }}panel-{{ . }}{{ else }}panel-primary{{ end }}">
{{- with .Get 1 -}}
<div class="panel-header-{{ $.Get 0 }}">
<h3>{{ if $.Get 2 }}<i class="{{ $.Get 2 }}"></i> {{ end }}{{- htmlUnescape . | markdownify -}}</h3>
</div>
{{- end -}}
<div class="panel-body-{{ $.Get 0 }}">
{{.Inner}}
</div>
</div>
{{ end }}