/*-- scss:defaults --*/
$main-color-danger: #ff0039;
$main-color-info: #007bff80;
$main-color-warning: #ffc10780 ;
$main-color-success: #3fb618;
$code-bg: #f7f7f7;
$code-color: #9954bb;
$hero-banner-bg: #062926;
$hero-banner-font-color: white;

/*-- scss:rules --*/

#hero-banner {
    background-color: $hero-banner-bg;
    color: $hero-banner-font-color;
}

#hero-banner  p code:not(.sourceCode) {
  background-color: lighten($hero-banner-bg, 2%);
  color: #e0e4e4;
}

#hero-banner a {
  color: #abc6ff ;
}

/*-------------------
    CUSTOM BOXES
--------------------*/

/* Box heading color */
.alert-info > .alert-heading {
	background-color: lighten( $main-color-info, 40% ) ;
}
.alert-success > .alert-heading {
	background-color: lighten( $main-color-success, 40% ) ;
}
.alert-warning > .alert-heading {
	background-color: lighten( $main-color-warning, 40% ) ;
}
.alert-danger > .alert-heading {
	background-color: lighten( $main-color-danger, 40% );
}


/* LEFT BORDERS */
.alert-danger {
  border-left: .2rem solid $main-color-danger;
}
.alert-warning {
  border-left:.2rem solid $main-color-warning;
}
.alert-info {
  border-left:.2rem solid $main-color-info;
}
.alert-success {
  border-left:.2rem solid $main-color-success;
}



/* Text color */
.alert-success,
.alert-danger,
.alert-warning,
.alert-info {
	color: $body-color;
}


