/*-- scss:defaults --*/
$main-color-danger: #3f1814;
$main-color-info: #131c25;
$main-color-warning: #432d09 ;
$main-color-success: #053428;
$color-bg-featured: darken($main-color-success, 40%);
$code-bg: #2b2b2b;
$code-color: #9954bb;
$navbar-bg: #2c2c2c;
$hero-banner-bg: #010202;
$hero-banner-font-color: white;

/*-- scss:rules --*/

// style background image on posts
.quarto-title-banner {
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: inset 0 0 0 1000px $color-bg-featured ;
}

#hero-banner {
  background-color: $hero-banner-bg;
  color: $hero-banner-font-color;
}



/*-------------------
    CUSTOM BOXES
--------------------*/

/* Box heading color */
.alert-info > .alert-heading {
	background-color: $main-color-info ;
}
.alert-success > .alert-heading {
	background-color: $main-color-success ;
}
.alert-warning > .alert-heading {
	background-color: $main-color-warning ;
}
.alert-danger > .alert-heading {
	background-color: $main-color-danger;
}


/* LEFT BORDERS */
.alert-danger {
  border-left: .2rem solid lighten($main-color-danger, 20%);
}
.alert-warning {
  border-left:.2rem solid lighten($main-color-warning, 20%);
}
.alert-info {
  border-left:.2rem solid lighten($main-color-info, 20%);
}
.alert-success {
  border-left:.2rem solid lighten($main-color-success, 20%);
}



/* Text color */
.alert-success,
.alert-danger,
.alert-warning,
.alert-info {
	color: $body-color;
}


