/*-- Importing fa icons --*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

/*-- scss:defaults --*/

/*-- scss:rules --*/

#hero-banner .h1, #hero-banner .h2 {
    color: white !important;
  }



  
// style background image on posts
.featured-image {
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0,38,66,0.75);
}


div.highlight,
pre {
  position: relative; 
  margin: 10px 0px;
}

/* ---- button -----*/

.btn {
  margin-right: 10px;
  border-radius: 15px 15px !important;
}

.btn.btn-primary.btn-lg.active {
  background-color: #ee6b78 !important;
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 .2rem #dc3545 !important;
}

.btn-primary {
  background-color: #6b94ee !important;
/*  border-color: #507ee0 !important;
  box-shadow: 0 0 0 .1rem #436eca  !important;
*/
}


.alert.alert-info,
.alert.alert-success,
.alert.alert-danger,
.alert.alert-warning {
	/* padding: 1px 0px; */
	background-color: inherit;
}


/* Space after header */
.alert-success > .alert-heading,
.alert-danger > .alert-heading,
.alert-info > .alert-heading,
.alert-warning > .alert-heading {
	margin-bottom: 15px !important;
}

.alert-success,
.alert-warning,
.alert-danger,
.alert-info {
  margin-top: 1em;
  margin-bottom: 1em;  
  margin:1.5625emauto;
  padding:0 .6rem .8rem!important;overflow:hidden;
  page-break-inside:avoid;
  /*border-left:.2rem solid #dc3545;*/
  border-radius:.25rem;
  box-shadow:0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
  transition:color .25s,background-color .25s,border-color .25s ;
  border-right: 1px solid #dee2e6 ;
  border-top: 1px solid #dee2e6 ;
  border-bottom: 1px solid #dee2e6 ;
}

.alert-heading {
  /*background-color:#fdf3f2;*/
  position:relative;
  margin:0 -.6rem!important;
  padding: 0rem 0rem 0em 1rem;
  font-weight:600;
  font-size: .9rem;
}

.alert h3 {
  margin-top: 0rem;
  font-weight:600;
  font-size: 1.1rem;
  padding-top: .2em;
  padding-bottom: .2em;
}

a img{
  display: inline;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}



/* copy button */

.copy-code-button {
    color: #272822;
    background-color: #FFF;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}


/*
custom exercise box
taken from https://github.com/cambiotraining/quarto-course-template/blob/main/_extensions/courseformat/theme.scss
*/

// Exercise callout styling
div.callout-exercise.callout {
  border-left-color: #9e6790;
}

div.callout-exercise.callout-style-default > .callout-header {
  background-color: #fab2e8;
}

.callout-exercise > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "\f303";
  margin-right: 10px;
}

// Answer callout styling
.callout-answer > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "\f002 ";
  margin-right: 10px;
}

div.callout-answer.callout {
  border-left-color: #28828A;
}

div.callout-answer.callout-style-default > .callout-header {
  background-color: #eaf3f3;
}

// Hint callout styling
.callout-hint > .callout-header::before {
  font-family: "Font Awesome 5 Free";
  content: "\f12e ";
  margin-right: 10px;
}

div.callout-hint.callout {
  border-left-color: #6c757d;
}

div.callout-hint.callout-style-default > .callout-header {
  background-color: #f9f9f8;
}