/*-- scss:defaults --*/
$main-color-danger: #3f1814;
$main-color-info: #131c25;
$main-color-warning: #432d09 ;
$main-color-success: #053428;
$color-bg-featured: darken($main-color-success, 40%);
$code-bg: #2b2b2b;
$code-color: #9954bb;
$navbar-bg: #2c2c2c;
$hero-banner-bg: #010202;
$hero-banner-font-color: white;
$green-color: #00bc8c;

/*-- scss:rules --*/

#hero-banner a {
	color: $green-color !important;
}

#hero-banner p code:not(.sourceCode), #hero-banner li code:not(.sourceCode), #hero-banner td code:not(.sourceCode) {
	background-color: #15293d;
	color: #e0e4e4;
}

#hero-banner strong {
  color: $green-color;
}

#hero-banner {
  background-color: $hero-banner-bg;
  color: $hero-banner-font-color;
}

#hero-banner  p code:not(.sourceCode) {
  background-color: lighten($hero-banner-bg, 2%);
  color: #e0e4e4;
}


.quarto-title-banner {
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: inset 0 0 0 1000px $color-bg-featured ;
}


#title-block-header.quarto-title-block.default p code:not(.sourceCode) {
	background-color: #f7f7f7;
  color: #00bc8c;
	padding: .2em;
}




/*-------------------
    CUSTOM BOXES
--------------------*/

/* Box heading color */
.alert-info > .alert-heading {
	background-color: $main-color-info ;
}
.alert-success > .alert-heading {
	background-color: $main-color-success ;
}
.alert-warning > .alert-heading {
	background-color: $main-color-warning ;
}
.alert-danger > .alert-heading {
	background-color: $main-color-danger;
}


/* LEFT BORDERS */
.alert-danger {
  border-left: .2rem solid lighten($main-color-danger, 20%);
}
.alert-warning {
  border-left:.2rem solid lighten($main-color-warning, 20%);
}
.alert-info {
  border-left:.2rem solid lighten($main-color-info, 20%);
}
.alert-success {
  border-left:.2rem solid lighten($main-color-success, 20%);
}



/* Text color */
.alert-success,
.alert-danger,
.alert-warning,
.alert-info {
	color: $body-color;
}


.button-cta {
  background-color: #00bc8c; /* Change this to your preferred color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
}

.gridcard-title {
  color: $green-color ;
}

/*
.gridcard-item {
  box-shadow: 0 0 0 1px $green-color;
}

.gridcard-item:hover {
  box-shadow: 0 0 0 1px $green-color;
}
  */