
#hero-banner {
    padding-top: 35px;
  }



  #quarto-content main { 
    margin-top: 0;
    padding-top: 0;
  }
    
    
  html {
    scroll-behavior: smooth;
  }
    
  .headline {
    font-size: 1.25em;
    font-weight: 300;
    padding-bottom: 1em;
  }
    
  .headline p {
    margin: 0;
    padding-bottom: 0.2rem;
  }
    
  .headline a {
    text-decoration: none;
  }
    
  .headline ul li {
    margin-bottom: 0.3em;
  }

  #title-block-header {
    display: none ;
}


/* Style général du bouton */
.btn-action-primary {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  color: #000; /* Texte en noir */
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
}

/* Au survol */
.btn-action-primary:hover {
  background-color: #D1DBE5;
  color: #000 !important ; /* Texte en noir aussi au hover */
  border-color: #f8f8f8;
}

/* Pleine largeur sur petits écrans */
.btn-action.w-100 {
  width: 100%;
}

/* Taille large */
.btn-lg {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}
