:root {
  /* Couleurs principales */
  --color-hero-bg: #122436;
  --color-primary-dark: #273e4e;
  --color-primary-dark-hover: #3a5568;
  --color-accent: #e7c582;
  --hero-banner-text-default-color: white;

  /* Couleurs pour les sections */
  --color-dark-section-bg: #17212B;
  --color-dark-border: #151515;

  --color-light-section-bg: rgb(247, 249, 251);
  --color-light-border: #dee2e6;
}


/* TYPOGRAPHY & GLOBAL SETTINGS */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.125rem; /* Increased global font size */
}


/* General layout spacing */
.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

@media(min-width: 900px) {
  .content-block {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1300px) {
  .content-block {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* HERO BANNER */

.hero-banner {
  padding-top: 35px;
  background-color: var(--color-hero-bg) !important;
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--hero-banner-text-default-color);
  font-size: 1.2rem; /* Slightly larger font in hero */
}

.hero-banner code {
  background-color: transparent !important;
  color: inherit !important;
  padding: 0;
}

.hero-banner .h2 {
  color: var(--color-accent) !important;
}

.hero-banner .content-block {
  display: flex;
  flex-direction: row;
  z-index: 2;
  gap: 40px; /* Reduced gap between text and image */
}

.hero-banner .content-block .hero-text {
  width: 80%; /* Wider left-hand side */
}

/*-------------
Hero image
------------*/

.hero-banner .hero-image {
  display: block; /* show image */
  position: static; /* important so it's not absolutely positioned */
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

@media (min-width: 1000px) {
  .hero-banner .hero-image {
    display: initial;
    width: 180px;
  }
}

@media (min-width: 1200px) {
  .hero-banner .hero-image {
    width: 220px;
  }
}

@media (min-width: 1400px) {
  .hero-banner .hero-image {
    width: 260px;
  }
}

@media (prefers-reduced-motion: reduce), (max-width: 1200px) {
  .hero-banner .content-block {
    max-width: 660px;
    flex-direction: column;
    gap: 0;
  }

  .hero-banner .content-block .hero-text {
    width: 100%;
  }

}


/*---------
----------*/



.hero-banner a:not(.btn) {
  color: var(--color-accent);
  text-decoration: none;
  background: none;
}

.hero-banner a[role="button"] {
  margin-bottom: 0;
}

.hero-banner h1 {
  font-size: 2.5rem;
  color: var(--hero-banner-text-default-color);
}

.hero-banner h3 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.hero-banner h4 {
  margin-top: 0;
}

.hero-banner ul {
  padding-inline-start: 21px;
  font-size: 1.1rem;
}

.hero-banner ul li {
  padding-bottom: 0.4rem;
}


/* GET STARTED */

.get-started {
  text-align: center;
}

.get-started h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}


/* BUTTON: .btn-action-primary */

.btn-action-primary {
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-hero-bg);
  color: var(--color-hero-bg);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.btn-action-primary.w-100 {
  width: 50% !important;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  display: block;
}


.btn-action-primary:hover,
.btn-action.w-100:hover {
  background-color: var(--color-accent) !important;
  color: var(--color-hero-bg) !important;
  border-color: var(--color-hero-bg);
}

.btn-action.w-100 {
  width: 100%;
}

.btn-lg {
  font-size: 1.4rem;
  padding: 1.25rem 2.5rem;
}


/* HEADLINE SECTION */

.headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
}

.headline p {
  margin: 0;
  padding-bottom: 0.2rem;
}

.headline a {
  text-decoration: none;
}

.headline ul li {
  margin-bottom: 0.3em;
}


/* Quarto content margin fix */
#quarto-content main {
  margin-top: 0;
  padding-top: 0;
}


/* Hide title block */
#title-block-header {
  display: none;
}


/* Alt section backgrounds */

body.quarto-dark .alt-background {
  background-color: var(--color-dark-section-bg);
  border-top: 1px solid var(--color-dark-border);
  border-bottom: 1px solid var(--color-dark-border);
}

body.quarto-light .alt-background {
  background-color: var(--color-light-section-bg);
  border-top: 1px solid var(--color-light-border);
  border-bottom: 1px solid var(--color-light-border);
}
