name: shared matrix
on:
  push:
  workflow_dispatch:

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'linogaliana/python-datascientist-notebooks'
      - name: Define matrix
        id: set-matrix
        run: |
          echo "::set-output name=matrix::$(find . -type f -name "*.ipynb" ! -name "_*" | jq -R -s -c 'split("\n")[:-1]')"
  
  check:
    needs: define-matrix
    runs-on: ubuntu-latest
    container: linogaliana/python-datascientist:latest
    strategy:
        matrix:
            manifest: ${{ fromJson(needs.define-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4   
        with:
          repository: 'linogaliana/python-datascientist-notebooks'
      - run: |
          quarto render ${{ matrix.manifest }} --execute

