name: Deploy website to Netlify and build notebooks

on:
  pull_request:
    branches:
      - main
      - master
      - dev

jobs:
  pages:
    name: Render-Blog
    runs-on: ubuntu-latest
    container: linogaliana/python-datascientist:latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Configure safe.directory  # Workaround for actions/checkout#760
        run: git config --global --add safe.directory /__w/python-datascientist/python-datascientist
      - shell: bash
        run: |
          conda info
          conda list
      - name: Render website
        run: |
          git diff --name-only origin/master origin/${GITHUB_HEAD_REF} >> diff
          python build/tweak_chapters.py
          python build/tweak_render.py
          cat _quarto.yml
          python build/wc_website.py
          quarto render --to html
      - name: Install npm
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: actions/setup-node@v2          
        with:
          node-version: '14'        
      - name: Deploy to Netlify
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        # NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          BRANCHE_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          npm init -y
          npm install --unsafe-perm=true netlify-cli -g
          netlify init
          netlify deploy --alias=${BRANCHE_REF} --dir="_book" --message "Preview deploy from ${BRANCHE_REF}"
      - uses: actions/upload-artifact@v2
        with:
          name: Content
          path: content/
      - uses: actions/upload-artifact@v2
        with:
          name: Website
          path: public/
  enonces:
    name: Render-Blog
    runs-on: ubuntu-latest
    container: linogaliana/python-datascientist:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Configure safe.directory  # Workaround for actions/checkout#760
        run: |
          git config --global --add safe.directory /__w/python-datascientist/python-datascientist
          git config --global --add safe.directory /__w/python-datascientist/python-datascientist-notebooks
      - shell: bash
        run: |
          ls
          conda info
          conda list
      - name: Convert in ipynb with Quarto
        run: |
         git diff --name-only origin/master origin/${GITHUB_HEAD_REF} >> diff
         python build/tweak_project.py
         python build/tweak_render.py
         python build/pimp_notebook.py
         quarto render content --to ipynb
         mkdir -p notebooks
         python build/move_files.py notebooks
      - uses: actions/upload-artifact@v2
        with:
          name: Source enonce
          path: content/
      - uses: actions/upload-artifact@v2
        with:
          name: Enonces
          path: notebooks/
      - name: Commit new notebooks
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        env:
          BRANCHE_REF: ${{ github.event.pull_request.head.ref }}
        run: |
         git clone https://github.com/linogaliana/python-datascientist-notebooks notebooks-repo
         git config user.name 'github-actions[bot]'
         git config user.email 'github-actions[bot]@users.noreply.github.com'
         git status
         find notebooks -type f -name "*.ipynb" -exec mv --parents {} notebooks-repo/ \;
         cp notebooks notebooks-repo -r
         cd notebooks-repo
         git remote -v
         #git commit -m "Automated changes";
         #git pull
         #git push
  corrections:
    name: Render-Blog
    runs-on: ubuntu-latest
    container: linogaliana/python-datascientist:latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Configure safe.directory  # Workaround for actions/checkout#760
        run: git config --global --add safe.directory /__w/python-datascientist/python-datascientist
      - shell: bash
        run: |
          conda info
          conda list
      - name: Convert in ipynb with Quarto
        run: |
         git diff --name-only origin/master origin/${GITHUB_HEAD_REF} >> diff
         python build/tweak_project.py
         python build/tweak_render.py
         python build/tweak_options_quarto.py
         python build/pimp_notebook.py
         quarto render content --to ipynb --execute
         mkdir -p corrections
         python build/move_files.py corrections
      - uses: actions/upload-artifact@v2
        with:
          name: Corrections
          path: corrections/
      - name: Commit new notebooks
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        env:
          BRANCHE_REF: ${{ github.event.pull_request.head.ref }}
        run: |
         git config user.name 'github-actions[bot]'
         git config user.email 'github-actions[bot]@users.noreply.github.com'
         git status
         find corrections -type f -name "*.ipynb" | xargs git add
         git commit -m "Automated changes";
         git pull
         git push




