name: Build and deploy to Netlify

on: [pull_request]


# example borrowed from https://pythonpackaging.info/06-Continuous-Integration.html
# and https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-python
# and https://autobencoder.com/2020-08-24-conda-actions/

jobs:
  blogdown:
    name: Render-Blog
    runs-on: ubuntu-latest
    container: linogaliana/python-datascientist:latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Install rmarkdown
        env:
          GITHUB_PAT: ${{ secrets.PAT_GITHUB }}
        run: |
          Rscript -e 'install.packages(c("rmarkdown"))'
      - name: install hugo
        run: Rscript -e 'blogdown::install_hugo()'
      - name: Install Python
        run: |
          Rscript -e "install.packages(c('remotes', 'reticulate'))"
#          Rscript -e "reticulate::install_miniconda()"
#     - uses: conda-incubator/setup-miniconda@v2
#       with:
#         activate-environment: test
#         environment-file: environment.yml
#         python-version: 3.7
#         auto-activate-base: false
      - shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Render blog
        run: |
          Rscript -e 'source("./build/build.R")'
          Rscript -e 'blogdown::hugo_build(local = TRUE)'
      - name: Install npm
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: actions/setup-node@v2          
        with:
          node-version: '12'        
      - name: Deploy to Netlify
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        # NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          BRANCHE_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          npm init -y
          npm install --unsafe-perm=true netlify-cli -g
          netlify init
          netlify deploy --alias=${BRANCHE_REF} --dir="public" --message "Preview deploy from ${BRANCHE_REF}"
      - uses: actions/upload-artifact@v1
        with:
          name: public
          path: public/

