name: Production deployment

on:
  push:
    branches:
      - main
      - spacy

jobs:
  pages:
    name: Render-Blog
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }}
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Configure safe.directory  # Workaround for actions/checkout#760
        run: git config --global --add safe.directory /__w/python-datascientist/python-datascientist

      - name: Install system dependencies
        run: |
          sudo ./build/requirements.sh

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Restore environment
        run: uv sync

      # Step 3: Set up Quarto
      - name: Set up quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install SpaCy corpus and check quarto version
        run: |
          uv run spacy download en_core_web_sm
          uv run quarto --version
          
      - name: Prepare directory
        run: |
          rm _quarto.yml
          cp _quarto-prod.yml _quarto.yml

      - name: Render website
        env:
          TOKEN_API_INSEE: ${{ secrets.TOKEN_API_INSEE }}
        run: |
          uv run build/append-environment/append_environment.py
          uv run quarto render --profile fr --to html
          uv run build/sidebar.py --to english
          uv run quarto render --profile en --to html
          uv run build/sidebar.py --to french
      - name: Archive build as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sitedir
          path: |
            _site
      - name: Publish to Pages
        if: github.ref == 'refs/heads/main'
        run: |
          git config --global user.email quarto-github-actions-publish@example.com
          git config --global user.name "Quarto GHA Workflow Runner"
          quarto publish gh-pages . --no-render --no-browser

  enonces:
    name: Render exercises
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }}
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Configure safe.directory  # Workaround for actions/checkout#760
        run: git config --global --add safe.directory /__w/python-datascientist/python-datascientist

      - name: Install system dependencies
        run: |
          sudo ./build/requirements.sh

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: 3.12

      - name: Restore environment
        run: uv sync

      # Step 3: Set up Quarto
      - name: Set up quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install SpaCy corpus and check quarto version
        run: |
          uv run spacy download en_core_web_sm
          uv run quarto --version

          
      - name: Build and push notebooks
        uses: linogaliana/python-datascientist-actions@main
        with:
          destination-repository-name: python-datascientist-notebooks
        env:
          TOKEN_API_INSEE: ${{ secrets.TOKEN_API_INSEE }}
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}

  corrections:
    name: Render corrections
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }}
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Configure safe.directory  # Workaround for actions/checkout#760
        run: git config --global --add safe.directory /__w/python-datascientist/python-datascientist

      - name: Install system dependencies
        run: |
          sudo ./build/requirements.sh

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          python-version: 3.12

      - name: Restore environment
        run: uv sync

      # Step 3: Set up Quarto
      - name: Set up quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install SpaCy corpus and check quarto version
        run: |
          uv run spacy download en_core_web_sm
          uv run quarto --version

          
      - name: Build and push notebooks
        uses: linogaliana/python-datascientist-actions-corrections@main
        with:
          destination-repository-name: py4ds-notebooks-corrections
          echo: true
        env:
          TOKEN_API_INSEE: ${{ secrets.TOKEN_API_INSEE }}
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}


