name: Docker Build and Website Deploy

on:
  push:
    branches:
      - main
      - master

jobs:
  blogdown:
    name: Render-Blog
    runs-on: ubuntu-latest
    container: linogaliana/python-datascientist:latest
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Install rmarkdown
        env:
          GITHUB_PAT: ${{ secrets.PAT_GITHUB }}
        run: |
          Rscript -e 'install.packages(c("rmarkdown"))'
      - name: install hugo
        run: Rscript -e 'blogdown::install_hugo("0.83.0", force = TRUE)'
      - name: Install Python
        run: |
          Rscript -e 'print(blogdown:::hugo_version())'
          Rscript -e "install.packages(c('remotes', 'reticulate'))"
          Rscript -e "install.packages(c('here'))"
      - shell: bash -l {0}
        run: |
          conda info
          conda list
      - name: Render blog
        run: |
          Rscript -e 'source("./build/build.R")'
      - name: Create
        run: |
         rm -rf "./temp"
         mkdir -p temp
         mkdir -p notebooks
         conda activate python-ENSAE     
         python build/cleanmd.py
         python build/wc_website.py
      - name: Install npm
        if: ${{ github.repository == 'linogaliana/python-datascientist' }}
        uses: actions/setup-node@v2          
        with:
          node-version: '12'        
      - name: Deploy to Netlify
        if: ${{ github.repository == 'linogaliana/python-datascientist' }}
        # NETLIFY_AUTH_TOKEN and NETLIFY_SITE_ID added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          BRANCHE_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          npm init -y
          npm install --unsafe-perm=true netlify-cli -g
          netlify deploy --prod --dir="public" --message "Deploy master"
      - uses: actions/upload-artifact@v1
        with:
          name: public
          path: public/
